<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阳光影视分享网</title>
    <link rel="stylesheet" href="__CSS__/Maincss.css" type="text/css" />
    <link rel="shortcut icon" href="" />
    <meta name="viewport" content="target-densitydpi=device-dpi,user-scalable=no">
    <script src="__JS__/JsMode.js"></script>
    {block name="myStatic"}<script src="__JS__/vipjs.js"></script>{/block}

</head>
<body id="body">
<div class="coverblack">
    <div class="phoneseacher">
        <form action="">
            <input type="text" value placeholder="输入关键字">
            <input type="button">
            <img src="__IMG__/search1.png" alt="">
        </form>
    </div>
</div>
<div class="phonenav">
    <img src="__IMG__/logo2.jpg" alt="">
    <a id="phonenav">
        <img src="__IMG__/all.png" alt="">
    </a>
    <a id="phoneseach">
        <img src="__IMG__/search1.png" alt="">
    </a>
</div>
<div class="leftnav">
    <ul>
        <li id="closenav"><a>X</a></li>
        <li><a href="other?id=2">优酷会员</a></li>
        <li><a href="other?id=3">腾讯会员</a></li>
        <li><a href="other?id=4">芒果会员</a></li>
        <li><a href="other?id=5">乐视会员</a></li>
        <li><a href="other?id=6">迅雷会员</a></li>
        <li><a href="other?id=7">搜狐会员</a></li>
        <li><a href="other?id=8">暴风会员</a></li>
        <li><a href="other?id=10">PPTV</a></li>
        <li><a href="other?id=11">QQ旋风</a></li>
        <li><a href="other?id=12">百度网盘</a></li>
        <li><a href="other?id=13">咪咕视频</a></li>
        <li><a href="other?id=14">腾讯动漫</a></li>
    </ul>
</div>
<header>
    <div class="headerup">
        <a href="">我要登陆</a>
        <a href="">我要注册</a>
        <a href="">找回密码</a>
        <a href="about">广告合作—联系我们</a>
    </div>
    <div>
        <img src="__IMG__/logo2.jpg" alt="">
        <div>欢迎访问阳光影视分享网</div>
        <ul>
            <li><a href="index">首页</a></li>
            <li><a href="other?id=1">爱奇艺</a></li>
            <li><a href="other?id=2">优酷</a></li>
            <li><a href="other?id=3">腾讯</a></li>
            <li><a href="other?id=4">芒果</a></li>
            <li><a href="other?id=5">乐视</a></li>
            <li><a href="other?id=6">迅雷</a></li>
            <li><a href="other?id=7">搜狐</a></li>
            <li><a href="other?id=8">暴风</a></li>
            <li><a href="other?id=9">酷狗</a></li>
            <li><a href="other?id=10">PPTV</a></li>
            <li><a href="other?id=11">旋风</a></li>
            <li><a href="javascript:;"><img src="__IMG__/search1.png" alt="" id="seacher"></a></li>
        </ul>

    </div>
</header>
<div class="search">
    <form action="">
        <input type="text" value placeholder="输入关键字">
        <input type="button">
        <img src="__IMG__/search1.png" alt="">
    </form>
</div>
<div class="Maincenter">
    <h1 hidden>影视VIP分享</h1>
    <!--此处添加子版页-->
     {block name="base"}

     {/block}
    <!--此处添加子版页-->
    <div class="righttop">
        <p>顶部</p>
        <img src="__IMG__/dingbu.png" alt="" ondragstart="return false">
    </div>
</div>
<footer>
    <h2>免责声明</h2>
    <p>本站所有账号均来自热心网友分享，以让用户体验会员服务为目的，并不以此为盈利目的，账号所有权归原账号注册人和原视频网站所有，本站不承担任何责任。</p>
    <p>Copyright © 阳光影视分享网 版权所有.</p>
    <img src="__IMG__/piclogo.gif" alt="王牌vip分享">
</footer>
</body>
</html>